<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Taeyoon is an artist based in Brooklyn. This is an archive of his work in progress and correspondence. For complete projects check his <a href="http://taeyoonchoi.com/"> website </a>  </p>
  <p>
    
  </p>
  <hr/>
 -  <div>    + 
 -    <div id="social">   
 -      {% include social.html %}   
 -    </div>
  </div>
  </ul>
</nav>